
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f4f6;
  //teste
}

header {
  background: #1e3a8a;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

/* Agrupa os produtos e coloca lado a lado */
.produtos {
  display: flex;
  gap: 20px;
}

/* Card de cada produto */
.produto {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  flex: 1;               /* faz os cards ocuparem espaços parecidos */
  max-width: 260px;      /* mantém um tamanho agradável */
}

/* Imagem dentro do card */
.produto img {
  width: 100%;
  border-radius: 8px;
}

/* Botão */
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  background: #2563eb;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

/* Rodapé */
footer {
  background: #fff;
  padding: 15px;
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #ddd;
}

